# ==============================================================================
# KONFIGURASI SISTEM LIBNAV UNSIKA
# ==============================================================================

PORT=3000

# 1. KREDENSIAL LOGIN ADMIN
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminunsika

# 2. KONEKSI DATABASE NEON POSTGRESQL CLOUD
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST.neon.tech/neondb?sslmode=require

# 3. KONEKSI BROKER MQTT (HIVEMQ CLOUD / PUBLIC BROKER)
MQTT_BROKER_URL=mqtt://broker.hivemq.com
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=libnav/unsika/rak/led

# 4. DURASI ANIMASI LAMPU LED DI RAK (Detik)
LED_ANIMATION_DURATION=15
